<Center>
<h1>Home Page for First App(Employee Management Demo app)</h1>
<p><%= link_to "List Of Employees", list_path %></p>
<p><%= link_to "Create New Employee", new_path %></p>
<p><%= link_to "Edit a Employee Details", edit_path %></p>
<p>Find me in app/views/employees/home.html.erb</p>
</Center>
